#id {
  display: flex;
  justify-content: center;
}

body {
  background-color: #151524;
  color: white;
  font-family: 'Sono', sans-serif;
}

.divSeparators {
  display: flex;
  justify-content: space-around;
}

.Containers {
  padding: 15px;
  border-radius: 25px;
  box-shadow: 5px 5px 20px -10px black;
  margin: 15px;
  background-color: #292640;
}



table{
  width: 200px;
}

td{
  word-break: break-all;
}

#theForm {
  display: flex;
  flex-direction: column;
  margin: 10px 10vw;

}

label {
  font-size: 20px;
}

input {
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  
  .divSeparators {
    display: flex;
    flex-direction: column;
  }

}
