#id {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

body {
  background-color: #151524;
  color: white;
  font-family: 'Sono', sans-serif;
}

.divSeparators {
  display: flex;
  justify-content: space-around;
}

.Containers {
  padding: 15px;
  border-radius: 25px;
  box-shadow: 5px 5px 20px -10px black;
  margin: 15px;
  background-color: #292640;
  width: 50%;
}

#completedContainer {
  width: auto;
}

table{
  width: 100%;
}

td{
  word-break: break-all;
  width: 25%;
  text-align: center;
}

#theForm {
  display: flex;
  flex-direction: column;
  margin: 10px 10vw;

}

label {
  font-size: 20px;
}

input {
  padding: 5px;
  font-family: 'Sono', sans-serif;
}

#theTitle {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  
  .divSeparators {
    display: flex;
    flex-direction: column;
  }
  
  .Containers {
    margin: 5%;
    width: auto;
  }

}

footer {
  text-align: center;
}
