* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: 0;
  text-align: center;
}

img {
  height: 20vh;
  border-radius: 50%;
}

.mainApp {
  background: linear-gradient(#ffdde1, #ee9ca7);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

h1 {
  color: rgb(101, 19, 19);
}

#buttonGroup {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
}